<div class="article_form">
  <h1>New Article</h1>

  <div class="form">
  <!-- @article is the unitialzed article instance made in the controller -->
    <%= render 'form', article: @article %>

  </div>

    <%= link_to "Back", articles_path %>
</div>
